@charset "UTF-8";
/*!
=========================================================
* JohnDoe Landing page
=========================================================

* Copyright: 2019 DevCRUD (https://devcrud.com)
* Licensed: (https://devcrud.com/licenses)
* Coded by www.devcrud.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
:root {
  --blue: #79A9F5;
  --indigo: #C45F90;
  --purple: #A16AE8;
  --pink: #FC8BC0;
  --red: #F85C70;
  --orange: #FF8882;
  --yellow: #FAD02C;
  --green: #A3C14A;
  --teal: #20c997;
  --cyan: #47D8E0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #F85C70;
  --secondary: #6c757d;
  --success: #A3C14A;
  --info: #47D8E0;
  --warning: #FF8882;
  --danger: #F85C70;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Source Sans Pro", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
    -webkit-text-size-adjust: auto;
}





body {
    position: relative;
    margin: 0;

    overflow-x: hidden;
    box-sizing: border-box;
    font-family: VPlayed;
    font-weight: 500;
}


container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.min-content {
    min-height: calc(100vh - 315px)
}

.owl-next.disabled,.owl-prev.disabled {
    display: none!important
}


.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-top: 0!important;
    height: 100vh!important;
    padding: 0!important
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 1;
    width: 100%;
    height: 100vh!important
}

.main-dark {
    background: #ffffff;
}

.main-dark .video-detail-page .video-bottom .back-to-history {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-left: 0;
    width: 100%;
}


.video-detail-page .video-bottom .back-to-history {
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.main-dark .video-detail-page .video-bottom .back-to-history {
    color: #5f5f5f;
}
.main-dark .video-detail-page .video-bottom .back-to-history svg {
    fill: #5f5f5f;
}

.video-detail-page .video-bottom .back-to-history svg {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.main-dark .video-detail-page .play-btn-responsive {
    background: url(/portofolio/assets/imgs/play-button.850ac76b2ec728321c38.svg) 0 0/contain no-repeat;
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    transition: ease all .3s;

}

.player {
    --plyr-color-main: #1ac266;
  }